* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
}

.header {
  background-color: black;
  width: 100%;
  display: flex;
  padding: 20px;
  z-index: 100;
}

.menu-button-container {
  display: block;
}

.menu-button-container #menu-button {
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.menu {
  display: block;
}

.menu p {
  color: white;
  letter-spacing: 0.12em;
  margin: 0;
  padding: 3px 10px 0px ;
}

.nav-container {
  top: 73px;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  padding: 0px 30px 30px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  transition: opacity .7s;
}

.nav-container.show {
  opacity: 1;
}

.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-container ul li {
  padding: 20px 0px;
  transition: opacity .3s;
}

.nav-container.show li {
  opacity: 1;
  transform: none;
}

.nav-container.show li:nth-child(1) {
  transition-delay: .1s;
}

.nav-container.show li:nth-child(2) {
  transition-delay: .2s;
}

.menu-button-container #menu-button.hide {
  display: none;
}

.menu-button-container #close-button {
  color: white;
  font-size: 28px;
  cursor: pointer;
  transition: opacity .3s;
}

.menu-button-container #close-button.hide {
  display: none;
}
